@import '../../styles/theme';

.navbar {
  align-items: center;
  background-color: $navbar-bg-color;
  color: $navbar-fg-color;
  display: flex;
  font-size: 1.2em;
  font-weight: bold;
  padding: .5em 1em;
}
